.dx-datagrid-borders > .dx-datagrid-headers {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dx-datagrid-borders > .dx-datagrid-total-footer,
.dx-datagrid-borders > .dx-datagrid-rowsview {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.rs-picker-select .rs-picker-toggle {
  height: 40px;
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

/* DatePicker e demais Pickers */
.rs-picker-date .rs-picker-toggle,
.rs-picker-daterange .rs-picker-toggle,
.rs-picker-time .rs-picker-toggle {
  height: 40px;
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
/* .rs-picker-select .rs-picker-toggle,
.rs-picker-select .rs-picker-toggle .rs-picker-toggle-value,
.rs-picker-select .rs-picker-toggle .rs-picker-toggle-placeholder {
  line-height: 40px;
  display: flex;
  align-items: center;
} */
.rs-picker-check .rs-picker-toggle {
  height: 40px;
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.rs-picker-popup {
  z-index: 2000 !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 100px;
}

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
